.container{
   margin: 70px auto;
   padding: 0 15px;
   width: 685px;
}
.box{
   margin: 20px auto;
   width: 200px;
   height: 200px;
   background-color: darkblue;
}
.hider{
   display: none;
}
.shower{
   display: block;
}